Pointnet2.PyTorch/*
spconv/*
torchsearchsorted/*
data/*

pythonpath.sh
*.bin
*.pth
*.so
*.pkl

build/*
dist/*
pvrcnn.egg-info/*

notebooks/*

pvrcnn/eval/*
pvrcnn/core/viz_detections.py

images/proposals_*
