thirdparty/*
data/*

pythonpath.sh
**/__pycache__/*
*.bin
*.pth
*.so
*.pkl

build/*
dist/*
pvrcnn.egg-info/*

.ipynb_checkpoints/*

pvrcnn/eval/*
pvrcnn/make_dataset.py

images/proposals_*
notebooks/*
